.places__paragraph {
    grid-area: paragraph;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media screen and (max-width: 1023px) {
    .places__paragraph {
        max-width: 360px;
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .places__paragraph {
        order: 5;
        max-width: 288px;
        box-sizing: border-box;
        margin: 32px auto 0;
    }
}
