.places__place {
    display: grid;
    grid-template-columns: 460px 480px;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "title website"
    "image paragraph";
    gap: 44px 40px;
    margin-bottom: 80px;
}

.places__place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .places__place {
        grid-template-columns: 440px 468px;
        grid-template-rows: max-content 1fr;
        margin-bottom: 70px;
        gap: 47px 32px;
    }

    .places__place:first-of-type {
        grid-template-columns: 440px 468px;
        grid-template-rows: 152px 1fr;
        margin-bottom: 75px;
        gap: 48px 30px;
    }
}

@media screen and (max-width: 1023px) {
    .places__place {
        grid-template-columns: 340px 335px;
        grid-template-rows: 46px 1fr;
        margin-bottom: 74px;
        gap: 48px 28px;
    }

    .places__place:first-of-type {
        grid-template-columns: 340px max-content;
        grid-template-rows: 92px 1fr;
        margin-bottom: 76px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 750px) {
    .places__place {
        grid-template-columns: 340px 280px;
        grid-template-rows: 46px 1fr;
        margin-bottom: 78px;
        gap: 48px 28px;
    }

    .places__place:first-of-type {
        grid-template-columns: 340px 280px;
        grid-template-rows: 92px 1fr;
        margin-bottom: 80px;
        gap: 48px 28px;
    }

}

@media screen and (max-width: 660px) {
    .places__place {
        display: flex;
        flex-direction: column;
        margin-bottom: 52px;
        gap: 0;
    }

    .places__place:first-of-type {
        margin-bottom: 55px;
        gap: 0;
    }
}