.lead__caption {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 148px;
    padding-top: 8px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.3;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    align-self: start;
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        padding-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        padding-left: 16px;
    }
}