.places__website {
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media screen and (max-width: 660px) {
    .places__website {
        order: 2;
        margin: 0 auto 32px;
    }
}

@media screen and (max-width: 340px) {
    .places__website {
        order: 2;
        margin-bottom: 32px;
        margin-left: 16px;
    }
}